body {
	background-color: #f7f7f7;
}

h3 {
	text-align: center;
	font-size: 44px;
	color: #978fb1;
	color: #139884;
}
p {
	font-size: 18px;	
}

.flip-container {
	perspective: 1000;
}
.flip-container:hover .flipper {
	transform: rotateY(180deg);
}
.flip-container, .front, .back, .me {
	width:180px;
	height:180px;
	border-radius:50%;
}

.flipper {
	transition: 0.45s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	background-color: white;
}
.front {
	background-color: #b3d4fc;
	transform: rotateY(0deg);
}
.back {
	background-color: #272244;
	transform: rotateY(180deg);
}

.back p {
	margin-top: 66px;
	font-size: 24px;
	color: #bb483f;
}

.back p:hover {
	text-decoration: underline;
}

.main-icon{
	font-size: 100px;
	margin-top: 40px;
	color: #272244;
}

.first-icon {
	font-size: 100px;
	color: #272244;
}

.spacer {
	background-color: #333333;
	height: auto;
	color: white;
	overflow: hidden;
}

.text-info {
	height: 350px;
	overflow-y: auto;
}

.hidden {
	display: none;
}

.resume {
	position: fixed;
	width: 70%;
	height: 90%;
	left: 15%;
	top: 5%;
	z-index: 2;
}

.resume-button {
	position: fixed;
	height: 7%;
	width: 5%;
	left: 15.2%;
	top: 5.3%;
	z-index: 3;	
	background-color: white;
}

