.flip-container {
	perspective: 1000;
}
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}
.flip-container, .front, .back {
	width:288px;
	height:288px;
	border-radius:50%;
}

.flipper {
	transition: 0.4s;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
}
.front {
	z-index: 2;
	transform: rotateY(0deg);
}
.back {
	transform: rotateY(180deg);
}

.back p {
	margin-top: 116px;
	font-size: 36px;
	color: #00c7d2;
}

.back p:hover {
	text-decoration: underline;
}

.main-icon{
	font-size: 144px;
	margin-top: 72px;
	color: #333333;

}

.icon-container {
	text-align: center;
	background-color: #ffd900;
}

.bgpic {
	height: auto;
}
.bgpic img {
	width: 100%;
	top: 0;
	left: 0;
}

.spacer {
	background-color: #333333;
	width: 100%;
	height: auto;
	color: white;
}

.logo a {
	margin-left: 6%;
	margin-right: 6%;
	margin-top: 5px;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-size: 100%;
}

