/*
white:
#fdfff
gray:
#f7f0f
royal blue:
#2f2de5
red:
#770000
blueblack:
#0d0221
*/

body {
  background-color:  #FCFBE3;
  /*color: white;*/
  font-family: 'Questrial', sans-serif;
  font-size: 1.15em;
}

h1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;;
  font-weight: bold;
}

li {
  padding-bottom: 16px;
}

.futura {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;;
}
.textbox {
  padding-top: 11%;
}

.navbar {
  top:0px; 
  width: 100%;
  background-color: #FCFBE3;
}

a {
  text-decoration: none;
  color: #2f2de5;
}

#active-link {
  color: #050478;
}

.iframe {
  width: 100%;
  height: 300px;
}

.event-image {
  width: 100%;
}

.where-box {
  height: 24px;
}

.desc-box {
  height: 68px;
}