body {
    background-color: #1b1b1b;
    text-align: center;
}
* {
    font-family: 'Arial', sans-serif;
    color: #ed3e77;
}

/* ~~~~~~~~~~~~~ SVG STYLING ~~~~~~~~~~~~~ */
.cls-1,
.cls-2 {
  fill: none
}

.cls-2 {
  stroke: #ff3976;
  stroke-linecap: round;
  stroke-miterlimit: 10
}

.cls-3 {
  fill: url(#PictoGif_Pattern)
}
