.container {
	min-width: 800px;
	width: 1300px;
}

body {
background-color: #FFFFE0;
}

.header {
	margin-top: 5%;
	margin-bottom: 2%;
	margin-left: 350px;
	text-align: center;
	background-color: #333333;
	color: #FFFFE0;
	font-family: Georgia;
	font-size: 1.25em;
	width: 600px;
	padding: 15px;
	border-radius: 8px;
	border: 1px #FFFFE0 solid;
	position: relative;

}
/*I know that I'm not really floating the content left, but I wanted the content centered with the sidebar image to the right.*/
.content {
	margin-left: 350px;
	width:600px;
	position: relative;
	background-color: #333333;
	padding: 15px;
	border-radius: 8px;
	border: 1px #FFFFE0 solid;
}

.content h2 {
	text-align: center;
	color: #FFFFE0;
	font-family: Georgia;
	font-size: 2em;

}
.content h3 {
	padding-left: 3px;
	color: #FFFFE0;
	font-family: Georgia;
	font-size: 2em;
	
}

.content p {
	padding: 0% 5% 0% 5%;
	color: #E6E6E6;
	font-family: Verdana;
	font-size: 1.1em;

}

.content img {
height: 280px;
width: 280px;
margin-left: 28%;
}

.sidebar {

	float:right;
	height: 300px;
	width: 300px;

}

.sidebar p {
	position: absolute;
	margin-top: -250px;
	margin-left: 80px;
	text-align: center;
	font-size: 3em;
	font-family: Helvetica;
	color: #FFFFE0;
}

.slideshowbar {
	margin-top: 5%;
	height:15px;
	width: 46%;
	clear:both;
	margin-left: 28%;
	text-align: center;
	position: relative;
	text-decoration: none;
	font-family: Helvetica;
}

.slideshowbar a {
	color: black;
	background-color: #FFFFE0;
	font-size: 2em;
}

.slideshowbar a:hover {
	color: red;
	background-color: #FFFFE0;
	font-size: 2em;
}

#intextimg {
	float: right;
margin: 0px 10px 0px 0px;
width: 220px;
height:280px;
padding: 0px;
}


span {
	text-decoration: underline;
}

.footer {
	clear: both;
	margin-left: 40px;
	margin-top: 10px;
	background-color: #FFFFE0;
	width: 230px;
}